body {
    background-color: #FFF1DC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

hr {
    background-color: #FFF1DC;
    border-style: dotted none none;
    border-color: #86A3B8;
    border-width: 6px;
    height: 0px;
    width: 8%;
   

}

h1 {
    color:#3A98B9;
    

}
h3{
    color:#3A98B9;
}
h2{
    color:#3A98B9;
}
table{text-align: center;}