body {
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    

}
.programmer {
    font-size: 2rem;
    
}

h1{
   font-size: 562.5%;
   color: #66BFBF;
   line-height: 90px;
   
    margin-top:0 auto;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
}   

h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    font-size: 35px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;

}
p{
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    
}
.top-container{


    background-color:#E9F8F9 ;
   position: relative;
   padding-top: 150px;
    

 
    
     /*** boarder widght, padding = space between boarding and content inside EX. text or images. Margin = space outside of the boarder **/
   
}
.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    font-size: 18px;

}

.pro {
text-decoration: underline;    
}

.skill-row {
    width: 80%;
    margin: 100px auto 100px auto;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.development {
    
    width: 50%;
    float: left;
    margin-right: 50px;
    border-radius: 40%;
    
}

.family {
    
    width: 50%;
    border-radius: 40%;
    float: right;
    margin-left: 50px;
}
.wing {
   width: 10%;
    float: left;
    margin-right: 50px;
    
}
.troy {
    width: 20%;
    padding-top: 5%;
}
hr {
    background-color: white;
    border-style: dotted none none;
    border-color: rgba(177, 175, 175, 0.377);
    border-width: 8px;
    height: 5px;
    width: 4%;
}


  .intro {
    width: 30%;
    margin: auto;
  }
  .contact-me {
    width: 40%;
    margin: 40px auto 60px auto;
   

    
  }
  .btn {
   
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #66BFBF;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }
.a {
    color: #105288;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
   
}
a:hover {

    color: #EAF6F6;
}
